.vim-undo
*~
*.qm
*.swp
.*~
build
.zcache
debian/debhelper-build-stamp
debian/deepin-movie-reborn.debhelper.log
debian/deepin-movie-reborn.substvars
debian/deepin-movie-reborn/
debian/files

CMakeLists.txt.user

#linglong building dir
linglong
build
.vscode
.cursor
.cursorindexingignore
.specstory/
.taskmaster/
.serena/
.roo/
.windsurf/
.clinerules/
.trae/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 