.vim-undo
*~
*.qm
*.swp
.*~
build
.zcache
debian/debhelper-build-stamp
debian/deepin-movie-reborn.debhelper.log
debian/deepin-movie-reborn.substvars
debian/deepin-movie-reborn/
debian/files

CMakeLists.txt.user

#linglong building dir
linglong
build
