[Desktop Entry]
Categories=AudioVideo;Player;
Comment=Play your video collection
Exec=deepin-movie %U
GenericName=Movie
Icon=deepin-movie
Keywords=Player;Movie;Theater;Theatre;Video;
MimeType=application/ogg;application/vnd.apple.mpegurl;application/vnd.rn-realmedia;application/x-extension-mp4;application/x-flac;application/x-matroska;application/x-ogg;application/xspf+xml;image/vnd.rn-realpix;misc/ultravox;video/3gpp;video/dv;video/mp2t;video/mp4;video/mp4v-es;video/mpeg;video/msvideo;video/ogg;video/quicktime;video/vnd.rn-realvideo;video/webm;video/x-anim;video/x-avi;video/x-flc;video/x-fli;video/x-flv;video/x-m4v;video/x-matroska;video/x-mpeg;video/x-mpeg2;video/x-ms-afs;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ms-wmx;video/x-ms-wvxvideo;video/x-nsv;video/x-ogm+ogg;video/x-theora;video/x-theora+ogg;x-content/video-dvd;x-content/video-svcd;x-content/video-vcd;x-scheme-handler/mms;x-scheme-handler/rtmp;x-scheme-handler/rtsp;application/mxf;text/vnd.qt.linguist;
Name=Deepin Movie
StartupNotify=true
Type=Application
X-Deepin-ManualID=deepin-movie
X-Deepin-TurboType=dtkwidget
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=የ እርስዎን የ ቪዲዮ ስብስብ ያጫውቱ
Comment[ar]=شغل مجموعة الفيديو الخاصة بك
Comment[ast]=Reproduz la to videoteca
Comment[az]=Video kolleksiyavı oynat
Comment[bg]=Преглед на вашата видео колекция
Comment[bn]=আপনার ভিডিও কালেকশন চালু করুন
Comment[bo]=སྐུ་ཉིད་ལ་རང་གནས་དང་དྲ་ཐོག་བརྙན་ཟློས་གཏོང་བ།
Comment[br]=Lenn ho tastumad video
Comment[ca]=Reproduïu la col·lecció de música
Comment[cs]=Přehrávejte svoji sbírku videí
Comment[da]=Afspil din videosamling
Comment[de]=Wiedergabe Ihrer Videosammlung
Comment[el]=Παίξτε τη βίντεο συλλογή σας
Comment[en_AU]=Play your video
Comment[eo]=Ludi vian videojn kolekton
Comment[es]=Reproduce su colección de vídeos
Comment[fa]=مجموعه ویدیویی خود را اجرا کنید
Comment[fi]=Toistaa kokoelmat ja videot
Comment[fil]=Manood ng mga video
Comment[fr]=Lire votre collection de vidéos
Comment[gl_ES]=Reproduce a túa colección de vídeos
Comment[he]=נגן את אוסף הוידאו שלך
Comment[hi_IN]=अपने वीडियो संग्रह चलाओ
Comment[hr]=Izvodite vašu video kolekciju
Comment[hu]=Játssza le a videógyűjteményét
Comment[hy]=Նվագել ձեր վիդեո հավաքածուն
Comment[id]=Mainkan koleksi video
Comment[it]=Esegui la tua raccolta video
Comment[ja]=ビデオコレクションの再生
Comment[ko]=동영상 모음 재생
Comment[ku_IQ]=Li koleksiyona xwe ya vîdyoyê bixe
Comment[lt]=Groti savo vaizdo kolekciją
Comment[ms]=Main koleksi video
Comment[nb]=Spill av videosamlingen din
Comment[ne]=आफ्नो भिडियो संग्रह प्ले गर्नुहोस्
Comment[nl]=Bekijk alle video's uit je verzameling
Comment[pl]=Odtwórz kolekcję filmów
Comment[pt]=Reproduza a sua coleção de vídeos
Comment[pt_BR]=Reproduzir coleção de vídeos
Comment[ro]=Redă colecția ta video
Comment[ru]=Просмотр вашей видео-коллекции
Comment[si]=ඔබේ වීඩියෝ එකතුව ධාවනය කරන්න
Comment[sk]=Prehrávajte svoju zbierku video záznamov
Comment[sl]=Predvajajte svojo video zbirko
Comment[sq]=Luani koleksionin tuaj të videove
Comment[sr]=Гледајте вашу видео колекцију
Comment[sv]=Spela din filmsamling
Comment[ta]=புதுச் சாளரம்
Comment[tr]=Video koleksiyonunuzu oynatın
Comment[ug]=يىغىپ ساقلاپ قويغان فىلىملەرنى قويۇش
Comment[uk]=Відтворити колекцію відео
Comment[vi]=Phát bộ sưu tập video của bạn
Comment[zh_CN]=为您播放本地及网络视频
Comment[zh_HK]=播放你收藏的影片
Comment[zh_TW]=播放您的影片集合
GenericName[am_ET]=ሙቪ
GenericName[ar]=الأفلام
GenericName[ast]=Película
GenericName[az]=Kino
GenericName[bg]=Филм
GenericName[bn]=মুভি
GenericName[bo]=གློག་བརྙན་ཁང་།
GenericName[br]=Video
GenericName[ca]=Pel·lícula
GenericName[cs]=Film
GenericName[da]=Film
GenericName[de]=Film
GenericName[es]=Vídeo
GenericName[fa]=فیلم
GenericName[fi]=Elokuvat
GenericName[fr]=Vidéo
GenericName[gl_ES]=Filme
GenericName[hu]=Film
GenericName[id]=Film
GenericName[it]=Video
GenericName[ko]=동영상
GenericName[lt]=Filmas
GenericName[ms]=Cereka
GenericName[ne]=चलचित्र
GenericName[nl]=Video
GenericName[pl]=Filmy
GenericName[pt]=Vídeo
GenericName[pt_BR]=Vídeo
GenericName[ro]=Film
GenericName[ru]=Кинотеатр
GenericName[si]=චිත්‍රපටය
GenericName[sk]=Film
GenericName[sl]=Film
GenericName[sq]=Film
GenericName[sr]=Филм
GenericName[tr]=Sinema
GenericName[ug]=كىنو
GenericName[uk]=Відео
GenericName[vi]=Movie
GenericName[zh_CN]=影院
GenericName[zh_HK]=電影
GenericName[zh_TW]=電影
Keywords[am_ET]=ማጫወቻ;ሙቪ;ቲያትር;ቲያትር;ቪዲዮ;
Keywords[ar]=Player;Movie;Theater;Theatre;Video;
Keywords[ast]=reproductor;película;videu;películes;vídeos;theater
Keywords[az]=Player;Movie;Theater;Theatre;Video;Oynadıcı;Kino;Film;Teatr;Video;
Keywords[bg]=Player;Movie;Theater;Theatre;Video;
Keywords[bn]=প্লেয়ার;মুভি;থিয়েটার;থিয়েটার;ভিডিও;
Keywords[bo]=གཏོང་ཆས། གློག་བརྙན། གློག་བརྙན་ཁང་། བརྙན་ཟློས།
Keywords[br]=Lenner;Film;C'hoariva;C'hoariva;Video;
Keywords[ca]=Reproductor;Pel·lícula;Teatre;Cinema;Vídeo
Keywords[cs]=Přehrávač;Film;Kino;Video;
Keywords[da]=Afspiller;Film;Biograf;Video;
Keywords[de]=Player;Abspieler;Filme;Theater;Video;
Keywords[es]=Reproductor;Video;Vídeos;Películas;Cine en casa;
Keywords[fa]=پخش کننده؛ فیلم؛ تئاتر؛ تئاتر؛ ویدئو؛
Keywords[fi]=Soitin;Elokuva;Teatteri;Video;
Keywords[fr]=Joueur;Film;Théâtre;Théâtre;Vidéo;
Keywords[gl_ES]=Player;Movie;Theater;Theatre;Video;
Keywords[hu]=Lejátszó;Film;Mozi;Mozi;Videó
Keywords[id]=Pemutar;Film;Theater;Theater;Video;
Keywords[it]=Player;Movie;Theater;Theatre;Video;Film;
Keywords[ko]=Player;Movie;Theater;Theatre;Video;플레이어;동영상;영화;극장;영화관;비디오;
Keywords[lt]=Grotuvas;Leistuvė;Filmas;Kinoteatras;Kinas;Teatras;;Vaizdas;Video;
Keywords[ms]=Pemain;Cereka;Wayang;Filem;Video;
Keywords[ne]=प्लेयर; मूवी; थिएटर; थियेटर; भिडियो;
Keywords[nl]=Speler;Film;Theater;Bioscoop;Video;
Keywords[pl]=Player;Movie;Theater;Theatre;Video;Odtwarzacz;Filmy;Kino;Teatr;Wideo;
Keywords[pt]=Reprodutor;Filme;Teatro;Anfiteatro;Vídeo;
Keywords[pt_BR]=Reprodução;Filme;Teatro;Vídeo;
Keywords[ro]=Player;Film;Cinema;Teatru;Video;
Keywords[ru]=Player;Movie;Theater;Theatre;Video;
Keywords[si]=ධාවකය; චිත්‍රපටය; රඟහල; රඟහල; වීඩියෝ;
Keywords[sk]=Player;Movie;Theater;Theatre;Video;
Keywords[sl]=Predvajalnik;film;kino;video;
Keywords[sq]=Lojtës;Film;Teatër;Teatër;Video;
Keywords[sr]=Пуштач;Филм;Сцена;Биоскоп;Видео;
Keywords[tr]=Player;Movie;Theater;Theatre;Video;Sinema;Görüntü;Tiyatro;
Keywords[ug]=قويغۇچ ؛ كىنو ؛ تىياتىرخانا ؛ تىياتىرخانا ؛ سىن
Keywords[uk]=Player;Movie;Theater;Theatre;Video;програвач;відео;фільм;кінотеатр;кіно;
Keywords[vi]=Player;Movie;Theater;Theatre;Video;
Keywords[zh_CN]=播放器;电影;电影院;视频;
Keywords[zh_HK]=播放器;電影;電影院;影片;
Keywords[zh_TW]=Player;Movie;Theater;Theatre;Video;播放器;電影;劇院;影片
Name[am_ET]=ሙቪ
Name[ar]=أفلام دييبن
Name[ast]=Deepin Movie
Name[az]=Deepin Film
Name[bg]=Deepin Филми
Name[bn]=ডিপিন মুভি
Name[bo]=གཏིང་ཟབ་གློག་བརྙན་ཁང་།
Name[br]=Deepin Filmoù
Name[ca]=Pel·lícula del Deepin
Name[cs]=Filmy
Name[da]=Deepin film
Name[de]=Deepin Film
Name[el]=Ταινίες Deepin
Name[en_AU]=Deepin Movie
Name[eo]=Deepin Filmujo
Name[es]=Vídeo
Name[fa]=Deepin Movie (نرم افزار تماشای فیلم دیپین)
Name[fi]=Deepin elokuvat
Name[fil]=Deepin Music
Name[fr]=Vidéo Deepin
Name[gl_ES]=Filmes
Name[he]=נגן הסרטים של Deepin
Name[hi_IN]=डीपइन चलचित्र
Name[hr]=Deepin filmski reproduktor
Name[hu]=Deepin® Film
Name[hy]=Deepin Ֆիլմեր
Name[id]=Pemutar Video Deepin
Name[it]=Video di Deepin
Name[ja]=Deepinビデオプレイヤー
Name[ko]=Deepin 동영상
Name[ku_IQ]=Deepin Fîlm
Name[lt]=Deepin filmas
Name[mn]=Дээпин Кино
Name[ms]=Wayang Deepin
Name[nb]=Deepin film
Name[ne]=डिपिन चलचित्र
Name[nl]=Deepin Video
Name[pl]=Filmy Deepin
Name[pt]=Deepin Vídeo
Name[pt_BR]=deepin Vídeo
Name[ro]=Player-ul video Deepin
Name[ru]=Кинотеатр Deepin
Name[si]=Deepin මූවී
Name[sk]=Deepin Filmy
Name[sl]=Deepin Film
Name[sq]=Film Deepin
Name[sr]=Дипин Филм
Name[sv]=Deepin-film
Name[tr]=Deepin Sinema
Name[ug]=Deepin كىنو
Name[uk]=Відео Deepin
Name[vi]=Trình xem phim Deepin
Name[zh_CN]=影院
Name[zh_HK]=Deepin 電影
Name[zh_TW]=Deepin 電影

