Source: deepin-movie-reborn
Section: misc
Priority: extra
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper, pkg-config, qttools5-dev-tools,
                qt5-default, libqt5svg5-dev, qtmultimedia5-dev,
                libqt5x11extras5-dev,
                libdtkbase-dev, libdtkutil-dev, libdtkwidget-dev,
                libdtksettings-dev, libdtksettingsview-dev,
                libmpv-dev, libxcb1-dev, libxcb-util0-dev,
                libffmpegthumbnailer-dev,
                libxcb-shape0-dev,libxcb-ewmh-dev, xcb-proto
Standards-Version: 3.9.2
Homepage: http://www.deepin.com/

Package: deepin-movie-reborn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin movie player for linuxdeepin desktop environment
 Deepin movie player for linuxdeepin desktop environment.
