[Desktop Entry]
Categories=AudioVideo;Player;
Comment=Play your video collection
Exec=deepin-movie %U
GenericName=Movie
Icon=deepin-movie
Keywords=Player;Movie;Theater;Theatre;Video;
MimeType=application/ogg;application/vnd.apple.mpegurl;application/vnd.rn-realmedia;application/x-extension-mp4;application/x-flac;application/x-matroska;application/x-ogg;application/xspf+xml;image/vnd.rn-realpix;misc/ultravox;video/3gpp;video/dv;video/mp2t;video/mp4;video/mp4v-es;video/mpeg;video/msvideo;video/ogg;video/quicktime;video/vnd.rn-realvideo;video/webm;video/x-anim;video/x-avi;video/x-flc;video/x-fli;video/x-flv;video/x-m4v;video/x-matroska;video/x-mpeg;video/x-mpeg2;video/x-ms-afs;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ms-wmx;video/x-ms-wvxvideo;video/x-nsv;video/x-ogm+ogg;video/x-theora;video/x-theora+ogg;x-content/video-dvd;x-content/video-svcd;x-content/video-vcd;x-scheme-handler/mms;x-scheme-handler/rtmp;x-scheme-handler/rtsp;
Name=Deepin Movie
StartupNotify=true
Type=Application
X-Deepin-ManualID=deepin-movie
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=የ እርስዎን የ ቪዲዮ ስብስብ ያጫውቱ
Comment[ar]=شغل مجموعة الفيديو الخاصة بك
Comment[ast]=Reproduz la to videoteca
Comment[az]=Video kolleksiyavı oynat
Comment[bg]=Преглед на вашата видео колекция
Comment[bn]=আপনার ভিডিও কালেকশন চালু করুন
Comment[ca]=Reproduïu la col·lecció de música
Comment[cs]=Přehrávejte svoji sbírku obrazových záznamů
Comment[da]=Afspil din videosamling
Comment[de]=Der elegante Video-Player!
Comment[el]=Παίξτε τη βίντεο συλλογή σας
Comment[en_AU]=Play your video
Comment[eo]=Ludi vian videojn kolekton
Comment[es]=Reproducir tu colección de vídeos
Comment[es_419]=Reproduce tu colección de videos
Comment[fi]=Toista videokokoelma
Comment[fil]=Manood ng mga video
Comment[fr]=Lisez votre collection de videos
Comment[gl_ES]=Reproduce a túa colección de vídeo
Comment[he]=נגן את אוסף הוידאו שלך
Comment[hi_IN]=अपने वीडियो संग्रह चलाओ
Comment[hr]=Izvodite vašu video kolekciju
Comment[hu]=Videógyűjtemény lejátszása
Comment[hy]=Նվագել ձեր վիդեո հավաքածուն
Comment[id]=Mainkan koleksi video
Comment[it]=Esegui la tua raccolta video
Comment[ja]=ビデオコレクションの再生
Comment[ko]=동영상 컬렉션을 재생하세요
Comment[ku_IQ]=Li koleksiyona xwe ya vîdyoyê bixe
Comment[lt]=Groti savo vaizdo kolekciją
Comment[ms]=Main koleksi video
Comment[nb]=Spill av videosamlingen din
Comment[ne]=आफ्नो भिडियो संग्रह प्ले गर्नुहोस्
Comment[nl]=Speel je videoverzameling af
Comment[pl]=Odtwórz kolekcję filmów
Comment[pt]=Reproduzir a sua coleção de videos
Comment[pt_BR]=Reproduza sua coleção de vídeos
Comment[ro]=Redă colecția ta video
Comment[ru]=Просмотр вашей видео-коллекции
Comment[sk]=Prehrávajte svoju zbierku video záznamov
Comment[sl]=Predvajajte svojo video zbirko
Comment[sr]=Гледајте вашу видео колекцију
Comment[sv]=Spela din filmsamling
Comment[ta]=புதுச் சாளரம்
Comment[tr]=Görüntü koleksiyonunuzu seyredin
Comment[uk]=Відтворити колекцію відео
Comment[zh_CN]=为您播放本地及网络视频
Comment[zh_HK]=播放你收藏的影片
Comment[zh_TW]=播放您的影片集合
GenericName[ast]=Película
GenericName[bg]=Филм
GenericName[ca]=Pel·lícula
GenericName[da]=Film
GenericName[es]=Películas
GenericName[fr]=Vidéo
GenericName[id]=Film
GenericName[it]=Movie
GenericName[lt]=Filmas
GenericName[ms]=Cereka
GenericName[ne]=चलचित्र
GenericName[nl]=Video
GenericName[pl]=Filmy
GenericName[pt]=Filme
GenericName[pt_BR]=Vídeo
GenericName[ru]=Кинотеатр
GenericName[sr]=Филм
GenericName[tr]=Sinema
GenericName[zh_CN]=影院
GenericName[zh_TW]=電影
Keywords[ast]=reproductor;película;videu;películes;vídeos;theater
Keywords[bg]=Player;Movie;Theater;Theatre;Video;
Keywords[ca]=Reproductor;Pel·lícula;Teatre;Cinema;Vídeo
Keywords[da]=Afspiller;Film;Biograf;Video;
Keywords[es]=Reproductor;Vídeos;Películas; Teatro en casa.
Keywords[fr]=Lecteur;Film;Theatre;Video;
Keywords[id]=Pemutar;Film;Theater;Theater;Video;
Keywords[it]=Player;Movie;Theater;Theatre;Video;
Keywords[lt]=Grotuvas;Leistuvė;Filmas;Kinoteatras;Kinas;Teatras;;Vaizdas;Video;
Keywords[ms]=Pemain;Cereka;Wayang;Filem;Video;
Keywords[ne]=प्लेयर; मूवी; थिएटर; थियेटर; भिडियो;
Keywords[nl]=Speler;Film;Theater;Bioscoop;Video;
Keywords[pl]=Player;Movie;Theater;Theatre;Video;Odtwarzacz;Filmy;Kino;Teatr;Wideo;
Keywords[pt]=Player;Movie;Theater;Theatre;Video;
Keywords[pt_BR]=Player;Movie;Theater;Theatre;Video;
Keywords[ru]=Player;Movie;Theater;Theatre;Video;
Keywords[sr]=Пуштач;Филм;Сцена;Биоскоп;Видео;
Keywords[tr]=Player;Movie;Theater;Theatre;Video;Sinema;Görüntü;Tiyatro;
Keywords[zh_CN]=播放器;电影;电影院;视频;
Keywords[zh_TW]=Player;Movie;Theater;Theatre;Video;播放器;電影;劇院;影片
Name[am_ET]=ሙቪ
Name[ar]=أفلام دييبن
Name[ast]=Deepin Movie
Name[az]=Deepin Film
Name[bg]=Deepin Филми
Name[bn]=ডিপিন মুভি
Name[ca]=Pel·lícula del Deepin
Name[cs]=Filmy
Name[da]=Deepin film
Name[de]=Deepin Film
Name[el]=Ταινίες Deepin
Name[en_AU]=Deepin Movie
Name[eo]=Deepin Filmujo
Name[es]=Películas Deepin
Name[es_419]=Películas Deepin
Name[fa]=Deepin Movie (نرم افزار تماشای فیلم دیپین)
Name[fi]=Deepin Elokuva
Name[fil]=Deepin Music
Name[fr]=Deepin Film
Name[gl_ES]=Filmes
Name[he]=נגן הסרטים של Deepin
Name[hi_IN]=डीपइन चलचित्र
Name[hr]=Deepin filmski reproduktor
Name[hu]=Deepin Film
Name[hy]=Deepin Ֆիլմեր
Name[id]=Pemutar Video Deepin
Name[it]=Deepin Movie
Name[ja]=Deepinビデオプレイヤー
Name[ko]=Deepin Movie 
Name[ku_IQ]=Deepin Fîlm
Name[lt]=Deepin filmas
Name[ms]=Wayang Deepin
Name[nb]=Deepin film
Name[ne]=डिपिन चलचित्र
Name[nl]=Deepin Video's
Name[pl]=Filmy Deepin
Name[pt]=Deepin Movie
Name[pt_BR]=Vídeos Deepin
Name[ro]=Player-ul video Deepin
Name[ru]=Кинотеатр Deepin
Name[sk]=Deepin Filmy
Name[sl]=Deepin Filmi
Name[sr]=Дипин Филм
Name[sv]=Deepin-film
Name[tr]=Deepin Sinema
Name[uk]=Відео Deepin
Name[vi]=Trình xem phim Deepin
Name[zh_CN]=深度影院
Name[zh_HK]=Deepin 電影
Name[zh_TW]=Deepin 電影

