Dtk--Widget--DImageButton#ListBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/list-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/list-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/list-press.png);
}

Dtk--Widget--DImageButton#PrevBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/previous-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/previous-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/previous-press.png);
}

Dtk--Widget--DImageButton#NextBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/next-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/next-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/next-press.png);
}

Dtk--Widget--DImageButton#PlayBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/play-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/play-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/play-press.png);
}

Dtk--Widget--DImageButton#PauseBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/pause-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/pause-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/pause-press.png);
}

Dtk--Widget--DImageButton#FsBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/fullscreen-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/fullscreen-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/fullscreen-press.png);
}

Dtk--Widget--DImageButton#UnfsBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/exit-fullscreen-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/exit-fullscreen-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/exit-fullscreen-press.png);
}

Dtk--Widget--DTitlebar * {
    background-color: #f4f6f7;
}

dmr--ToolboxProxy {
    background-color: rgba(252, 252, 252, 0.92);
}

dmr--VolumeButton#VolHigh {
    qproperty-normalPic: url(:/resources/icons/light/normal/audio-volume-high-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/audio-volume-high-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/audio-volume-high-press.png);
}

dmr--VolumeButton#VolMid {
    qproperty-normalPic: url(:/resources/icons/light/normal/audio-volume-medium-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/audio-volume-medium-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/audio-volume-medium-press.png);
}


dmr--VolumeButton#VolLow {
    qproperty-normalPic: url(:/resources/icons/light/normal/audio-volume-low-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/audio-volume-low-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/audio-volume-low-press.png);
}

dmr--VolumeButton#VolOff {
    qproperty-normalPic: url(:/resources/icons/light/normal/audio-volume-off-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/audio-volume-off-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/audio-volume-off-press.png);
}

dmr--VolumeButton#VolMute {
    qproperty-normalPic: url(:/resources/icons/light/normal/audio-volume-muted-blocked-panel-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/audio-volume-muted-blocked-panel-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/audio-volume-muted-blocked-panel-press.png);
}

QProgressBar::chunk {
    background-color: #2EACFF;
}

QProgressBar {
    background-color: rgba(252, 252, 252, 0.92);
    border: 0px;
}

dmr--PlaylistWidget {
    background-color: rgba(255, 255, 255, 0.80);
}

