Dtk--Widget--DImageButton#ListBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/list-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/list-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/list-press.png);
}

Dtk--Widget--DImageButton#SubtitleBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/Subtitle-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/Subtitle-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/Subtitle-press.png);
}

Dtk--Widget--DImageButton#PrevBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/previous-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/previous-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/previous-press.png);
}

Dtk--Widget--DImageButton#NextBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/next-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/next-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/next-press.png);
}

Dtk--Widget--DImageButton#PlayBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/play-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/play-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/play-press.png);
}

Dtk--Widget--DImageButton#PauseBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/pause-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/pause-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/pause-press.png);
}

Dtk--Widget--DImageButton#FsBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/fullscreen-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/fullscreen-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/fullscreen-press.png);
}

Dtk--Widget--DImageButton#UnfsBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/exit-fullscreen-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/exit-fullscreen-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/exit-fullscreen-press.png);
}

dmr--ToolboxProxy {
    background-color: rgba(252, 252, 252, 0.92);
}

dmr--VolumeButton#VolHigh {
    qproperty-normalPic: url(:/resources/icons/light/normal/audio-volume-high-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/audio-volume-high-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/audio-volume-high-press.png);
}

dmr--VolumeButton#VolMid {
    qproperty-normalPic: url(:/resources/icons/light/normal/audio-volume-medium-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/audio-volume-medium-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/audio-volume-medium-press.png);
}


dmr--VolumeButton#VolLow {
    qproperty-normalPic: url(:/resources/icons/light/normal/audio-volume-low-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/audio-volume-low-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/audio-volume-low-press.png);
}

dmr--VolumeButton#VolOff {
    qproperty-normalPic: url(:/resources/icons/light/normal/audio-volume-off-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/audio-volume-off-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/audio-volume-off-press.png);
}

dmr--VolumeButton#VolMute {
    qproperty-normalPic: url(:/resources/icons/light/normal/audio-volume-muted-blocked-panel-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/audio-volume-muted-blocked-panel-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/audio-volume-muted-blocked-panel-press.png);
}

#MovieProgress::groove:horizontal {
    background: transparent;
    position: absolute;
    left: 0px; right: 0px;
}
#MovieProgress::handle:horizontal {
    background:transparent;
    margin: 5px -5px;
}
#MovieProgress::add-page:horizontal {
    background: transparent;
    background-color: qlineargradient(x1:0 y1:0, x2:0 y2:1,
        stop:0        transparent,                  stop:0.08333 transparent,
        stop:0.08400  rgba(255, 255, 255, 0.08),    stop:0.16666 rgba(255, 255, 255, 0.08),
        stop:0.17000  rgba(0, 0, 0, 0.0),           stop:0.24999 rgba(0, 0, 0, 0.0),
        stop:0.25000  rgba(0, 0, 0, 0.0),           stop:1 rgba(0, 0, 0, 0.0)
    );
}
#MovieProgress::sub-page:horizontal {
    background: #2ca7f8;
    background-color: qlineargradient(x1:0 y1:0, x2:0 y2:1,
        stop:0        #2eacff,              stop:0.08333 #2eacff,
        stop:0.08333  #2eacff,              stop:0.16666 #2eacff,
        stop:0.17000  rgba(0, 0, 0, 0.3),   stop:0.24999 rgba(0, 0, 0, 0.3),
        stop:0.25000  rgba(0, 0, 0, 0.0), stop:1 rgba(0, 0, 0, 0.0)
    );
}

/* -------- Play list ----------------*/

dmr--PlaylistWidget {
    background-color: rgba(255, 255, 255, 0.80);
}

dmr--PlaylistWidget * {
    background-color: transparent;
}

Dtk--Widget--DImageButton#CloseBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/close-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/close-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/close-press.png);
}


/* state Hover*/
*[PlayItemThumb="true"][ItemState="2"] {
    qproperty-bg: url(:/resources/icons/light/normal/film-bg.png);
    background-color: rgba(0, 0, 0, 0.1);
}


*[PlayItemThumb="true"][ItemState="2"] *[Name="true"] {
    font-size: 12px;
    line-height: 1.5;
    color: #ffffff;
}

*[PlayItemThumb="true"][ItemState="2"] *[Time="true"] {
    font-size: 10px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);
}

/* state Playing */
*[PlayItemThumb="true"][ItemState="1"] {
    qproperty-bg: url(:/resources/icons/light/normal/film-bg.png);
}


*[PlayItemThumb="true"][ItemState="1"] *[Name="true"] {
  font-size: 12px;
  line-height: 1.5;
  color: #01bdff;
}

*[PlayItemThumb="true"][ItemState="1"] *[Time="true"] {
    font-size: 10px;
    line-height: 1.5;
    color: rgba(1, 189, 255, 0.6);
}

/* state Normal */
*[PlayItemThumb="true"][ItemState="0"] {
    qproperty-bg: url(:/resources/icons/light/normal/film-bg.png);
}


*[PlayItemThumb="true"][ItemState="0"] *[Name="true"] {
    font-size: 12px;
    line-height: 1.5;
    color: #ffffff;
}

*[PlayItemThumb="true"][ItemState="0"] *[Time="true"] {
    font-size: 10px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);
}

/* -------- End of Play list ----------------*/

dmr--MainWindow {
    background-color: rgb(252, 252, 252);
}

Dtk--Widget--DTitlebar * {
    background-color: #f4f6f7;
}

/* ---------- Mini Mode ----------------------------- */

Dtk--Widget--DImageButton#MiniPlayBtn {
    qproperty-normalPic: url(:/resources/icons/light/mini/play-normal-mini.png);
    qproperty-hoverPic: url(:/resources/icons/light/mini/play-hover-mini.png);
    qproperty-pressPic: url(:/resources/icons/light/mini/play-press-mini.png);
}

Dtk--Widget--DImageButton#MiniPauseBtn {
    qproperty-normalPic: url(:/resources/icons/light/mini/pause-normal-mini.png);
    qproperty-hoverPic: url(:/resources/icons/light/mini/pause-hover-mini.png);
    qproperty-pressPic: url(:/resources/icons/light/mini/pause-press-mini.png);
}

Dtk--Widget--DImageButton#MiniQuitMiniBtn {
    qproperty-normalPic: url(:/resources/icons/light/mini/restore-normal-mini.png);
    qproperty-hoverPic: url(:/resources/icons/light/mini/restore-hover-mini.png);
    qproperty-pressPic: url(:/resources/icons/light/mini/restore-press-mini.png);
}

Dtk--Widget--DImageButton#MiniCloseBtn {
    qproperty-normalPic: url(:/resources/icons/light/normal/close-normal.png);
    qproperty-hoverPic: url(:/resources/icons/light/normal/close-hover.png);
    qproperty-pressPic: url(:/resources/icons/light/normal/close-press.png);
}

